@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./images/Mountains.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  font-family: "Lobster Two", cursive;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 1000;
  margin-top: 8rem;
  color: goldenrod;
  box-sizing: border-box;
}

.form-control {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
#deadline {
  padding: 0.25rem;
  padding-left: 1rem;
  background: whitesmoke;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: goldenrod;
}
#deadline::placeholder {
  font-family: Poppins;
  color: goldenrod;
}

.submit-btn {
  background: goldenrod;
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  text-transform: capitalize;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  content: normal;
  transition: ease-in;
  font-size: 0.85rem;
}

.submit-btn:hover {
  background: goldenrod;
  color: whitesmoke;
}

.timer-container {
  display: flex;
  color: goldenrod;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  color: goldenrod;
  line-height: 1;
  margin: 1rem 2rem;
}

.timer-el {
  text-align: center;
  margin: auto;
}

.timer-el span {
  font-size: 1.5rem;
}
